<div><h2> Create a post </h2>
    <form>
        <label> Title </label>
        <input type="text" class="Title" for="post-title" />
        <textarea name="post-body" cols="30" rows="10"> </textarea>
        <button type="submit">Submit</button>
    </form>
</div>

